<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--<property name="hibernate.current_session_context_class">thread</property>  -->
		<!--Database connection settings-->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!--<property name="connection.url">jdbc:postgresql://127.0.0.1:5432/hibernate_db</property>-->
		<property name="connection.url">jdbc:postgresql://127.0.0.1:5432/hb_student_tracker</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">password</property>
		<!--JDBC Connection Pole(use the built in)-->
		<property name="connection.pool_size">1</property>
		<!--SQL Dialect query to execute query-->
		<property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<!--It will create table automatically-->
		<property name="hbm2ddl.auto">update</property>
		<!--Display all the execute query-->
		<property name="show_sql">true</property>
		<!--Properly display well formatted SQL query-->
		<property name="format_sql">true</property>
		<!--<mapping class="com.devarun.dto.UserDetails"/>-->
		<mapping class="com.devarun.dto.PersonDetails"/>
		<mapping class="com.devarun.mapping.Vehicle"/>
		<mapping class="com.devarun.mapping.UserDetails"/>
		<mapping class="com.devarun.mapping.Employee"/>
		<mapping class="com.devarun.mapping.Account"/>
		<mapping class="com.devarun.dto.Student"/>
		<mapping class="com.devarun.project.InfoEntity"/>

	</session-factory>
</hibernate-configuration>